<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Our Services</h5>
            <h1 class="mb-0">Custom IT Solutions for Your Successful Business</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-shield-alt text-white"></i>
                    </div>
                    <h4 class="mb-4">Unified Communication System Installation</h4>
                    <p class="m-0">Our solutions Includes; VSAT, Microwave Links,Video Conferencing,Audio Conferencing,IP Telephony, Audio Visuals, Contact Center Solutions, Cloud Computing and Managed Hosted Services.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-chart-pie text-white"></i>
                    </div>
                    <h4 class="mb-3">Service & Solutions</h4>
                    <p class="m-0">We offers solutions in five main areas; security systems, satellite communication, Voice over IP, Computer Telephony solutions, WiMAX/Wireless communication and Information Technology infrastructure. Our expertise enables us to offer our customers a single provider for their whole array of technology needs in terms of installations</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fa fa-wifi text-white"></i>
                    </div>
                    <h4 class="mb-3">Wireless Communication System</h4>
                    <p class="m-0">Many companies experience a lot of problems with slow wireless networks, high levels of interference, and black spots in their office/guest houses where they are unable to get any wireless signals. We have developed a guide for small businesses with tips on how to get a better and faster wireless network, as a stable and fast Wi-Fi.</p>
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-android text-white"></i>
                    </div>
                    <h4 class="mb-3">Electrical Installation System</h4>
                    <p class="m-0">Electrical Design and Consulting is an important branch of our integrated building design and consulting services offering. In our multi-disciplinary approach, our Electrical engineers are able to coordinate the design with other industry experts to ensure that our Electrical designs are sustainable, energy efficient, practical and cost effective.</p>
                  
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                       <i class="fab fa-puzzle-piece text-white"></i>
                    </div>
                    <h4 class="mb-3">Power System Installation</h4>
                    <p class="m-0">We provide Provision and Installation as well as Maintenance of Power Solutions – Domestic & Commercial Generators, Backups, UPS, Solar Systems. We are committed to meeting your power system needs, from design to completion, or anywhere in between.</p>

                  
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon">
                        <i class="fab fa-eye text-white"></i>
                    </div>
                    <h4 class="mb-3">Other Services</h4>
                    <p class="m-0">• Domestic Generators
                        •	Commercial Generators
                        •	Solar Panel Systems
                        •	UPS Systems
                        •	Backup Systems
                         </p>

                  
                    <a class="btn btn-lg btn-primary rounded" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Team Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.3s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Other Professional Services</h5>
            <h1 class="mb-0">Professional Services </h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s1.jpg" alt="">
                    
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Satellite</h5>
                        <p class="text m-0">We offers a portfolio of versatile satellite communication services built on field proven best of breed technology thus perfect installation and maintenance ie, Ka, Ku and C band.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s2.jpg" alt="">
                        
                    </div>
                    <div class="text-center py-4">
                        <h4 class="text-primary">FVoIP</h4>
                        <p class="text m-0"> We delivers a wide array of Voice over IP services as well as IP Telephony systems. We install advanced VoIP platform.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s3.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Wimax/Wireless</h5>
                        <p class="text m-0">We designs and delivers a wide range of wireless systems such as GSM booster installation, WiMAX installation, Wi-Fi distribution, microwaves links, point to point and point to multipoint systems installations.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s4.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Security</h5>
                        <p class="text m-0">We implements efficient advanced technological security solutions for various customers. We are specializing with supply and installation of security Equipment such as CCTV, Access Control, Burglar Alarm and Intercom</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s5.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Domestic Bulgary/Alarm system</h5>
                        <p class="text m-0"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s6.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Electric Fence</h5>
                        <p class="text m-0">We design and implement the installation of the electric fences to our clients at affordable prices.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.3s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s11.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Access Control System</h5>
                        <p class="text m-0"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.6s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s12.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Digital Class Room</h5>
                        <p class="text m-0"></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow slideInUp" data-wow-delay="0.9s">
                <div class="team-item bg-light rounded overflow-hidden">
                    <div class="team-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="img/s13.jpg" alt="">
        
                    </div>
                    <div class="text-center py-4">
                        <h5 class="text-primary">Inclinic System</h5>
                        <p class="text m-0"></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Team End -->

