<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= tittle %></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>
<!-- Spinner End -->
    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0 mb-lg-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-2 mb-lg-0 py-lg-0">
            <a href="/" class="navbar-brand p-0">
               <h3 class="mb-lg-0"><img src="img/sat.jpg" class="rounded mb-lg-0"  style="max-height: 130px; max-width: 130px;"> </h3>
              
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/" class="nav-item nav-link">Home</a>
                   <a href="/products" class="nav-item nav-link">Product & Services</a>
                    <a href="/projects" class="nav-item nav-link">Completed Projects</a>
                    <a href="/about" class="nav-item nav-link">About Us</a>
                
                    <a href="/contact" class="nav-item nav-link">Contact Us</a>
                </div>
                
            </div>
        </nav>


        <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="img/s11.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-4" style="max-width: 900px;">
                            <h1 class="text-white text-uppercase mb- animated slideInDown">Our Completed Projects </h1>
                            <h5 class="text-white mb-md-1 ">Delivering Innovative Telecommunications Solutions Across Africa and Beyond</h5>
                            
                            <a href="" class="btn btn-outline-light py-md-3 px-md-5 animated slideInRight">Scroll to Learn More</a>
                        </div>
                    </div>
                </div>
                
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

<!-- Service Start -->
<div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="section-title text-center position-relative pb-3 mb-5 mx-auto" style="max-width: 600px;">
            <h5 class="fw-bold text-primary text-uppercase">Completed Projects</h5>
            <h1 class="mb-0">Our successful competed projects for our customers</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column justify-content-start text-start p-8">
                    <h4 class="mb-4">Tilisi Developments PLC</h4>
                    <p class="m-0">
                        Tilisi Developments PLC project at Internet Solutions (currently Dimensions Data and still counting as per continued Phases), 
                        and earned the Top Sales person in the New Business department FY 2017/18. 
                        We have excellent interpersonal, communication and customer service skills. 
                        These skills enabled us to participate in the Tilisi Developments PLC project as Project Leader towards ensuring successful deployment 
                        and implementation of the whole exercise connecting fifty offices across the country via Ku band satellite.
                    </p>
        
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Huduma Centers project</h4>
                    <p class="m-0"> Huduma Centers project with Airtel Networks Kenya ltd. This project involved a 3rd party who had a very vast experience dealing with the SDWAN solution at that particular time. Our ability to create, innovate and take initiatives enabled us to introduce the Dealership Engage-ment Program (DEP) at Internet Solutions and Airtel Kenya, dealers have increasingly become a very integral part of the business ecosystem more-so if agility and flexibility is to be achieved by an Organization.  </p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">Cloud based SIP solution for call centers</h4>
                    <p class="m-0">In partnership with Lance Communication Ltd we worked on a Cloud based SIP solution for call centers across Kenya. This solution aims at implementing a soft phone solution that can be used across the regional borders to provide mobility, agility and convenience for the targeted clients. On-going project: - DWDM is a solution that has not been very well understood in the Kenyan Market, in collaboration with one of integrators we are in the process of connecting several data centers across Kenya so that we come up with a Data Center solution that aims at serving large corporates like Banks, Multinationals and Firms in the CDNs platform. The capacity in question is 10gig.</p>
                   
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">Centric Technology Solutions (Integrator) project</h4>
                    <p class="m-0">We lead the Airtel team in scoping, developing and implementing an SDWAN solution to the Huduma Centers across Kenya.</p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">Kenya Dairy Board Project</h4>
                    <p class="m-0">Kenya Dairy Board Project, had over 20 satellite offices across Kenya, they needed a solution that would enhance a seamless communication with the HQs while guaranteeing service stability and cost efficiency. A Managed service was proposed and implemented that also included a VM solution to Carter for their internal ERP. To ensure service continuity Incase catastrophe or unavoidable disaster a Business Continuity Management solution was proposed that included 3 layers of security and backup both off and on-premise </p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">Torch Energies Project</h4>
                    <p class="m-0"> Torch Energies Project, is a Company that is involved in the Supply Chain Management in the Oil and Gas industry with presence in Kenya, Uganda and Tanzania. The nature of their activities involves a lot of mobility delivering products to their respective clients. The company had been spending a lot money monthly on voice calls across the region thanks to roaming charges, I proposed a hosted PBX that came with a soft phone feature via an app including a Closed User Group (CUG) value added service that ensured calls within the company network is free while reducing call charges outside the network. This cloud solution uses Internet as platform to deliver the service.</p>

                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">Government Training Institute (GTI) Project</h4>
                    <p class="m-0">Government Training Institute (GTI) Project, based in Mombasa was looking for a solution that will enable it's students (trainees) to remain online more so during the semester, a Social Wi-Fi solution was developed and implemented that ensured that each student had unique code to login through the Wi-Fi SSID name within the school confines covered by the Wi-Fi range while also providing Sim cards that would still enable them to access the institution portal via VPN. </p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                   
                    <h4 class="mb-3">The government of Kenya Project</h4>
                    <p class="m-0">The government of Kenya Project, has always wanted to safeguard its waters to ensure that Maritime Borders are not exposed to security lapses while at the same time maintaining sanity in the fishing industry. Tracking services always come in handy to ensure that assets can be traced no matter how deep in the high seas they're located. The success of this project was achieved through commissioning of L-Band solutions that ensure connectivity Beyond Line of Site (BLOS), as a backup measure T2M solution was also implemented to ensure that back up is done via both the terrestrial and satellite Technologies. IoT made a combination of the two possible. </p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">Liquid Kenya ltd and Kenya Ministry of Education project</h4>
                    <p class="m-0">We did pilot project connecting schools to the internet using Afrika connect Eutelsat Ka band platform, we connected more than two hundred schools. </p>
                    
                </div>
            </div>

            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">iSAT and Kenya Ministry of ICT Project</h4>
                    <p class="m-0">We connected all counties through Avanti Ka band satellite whereby we installed and commission all the sites.</p>
                    
                </div>
            </div>
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    
                    <h4 class="mb-3">iWay Africa Kenya and Seventy Christian church Project</h4>
                    <p class="m-0">We connected all worshiper’s offices across the country through Avanti Ka band satellite service. </p>
                    
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded p-4">
                    <h4 class="mb-3 text-center">Others include</h4>
                    <ul class="list-unstyled">
                        <li >250 Backhauling remote sites of Safaricom GSM by VSAT migration to a new satellite in Kenya., 150 Remote sites of Airtel DRC Congo backhauled by VSAT new installations on iDirect platform.,
                        30 Saudi Arabia Embassy Offices in Africa setup of backup solar power and internet link either by fiber, VSAT, or microwave.,
                        50 UNHCR new site offices in Africa setting up internet/data links using VSAT’s on Newtec MDM 2210 platform.,
                        30 MTN microwave and solar power installation project in Uganda for network expansion and coverage.,
                        Liquid Telecom microwave/PTP installation project,
                        Panda Hospital solar power and security project,
                        iSAT Africa uplink radio channel project,
                        Wananchi Telecom KCB Bank Wi-Fi project,
                        Perfectus Hotel Wi-Fi/access point project,
                        Dams View Village solar, CCTV, and Wi-Fi project,
                        Jamii Telecom six BTS sites decommissioning project,
                        Simbanet microwave/WiMAX ten sites installation project.</li>
                    </ul>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Service End -->


<%- include('./partials/footer') %><br>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
 </body>
 </html>
